<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>实验</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
</head>
<body style="background-color: #f2f2f2">
<div style="max-width: 1000px; margin: 0 auto;">
    <div style="margin-top: 5px;">
        <button class="layui-btn layui-input-inline" style="background-color: #93D1FF">邀请队友</button>
        <button class="layui-btn layui-input-inline" style="background-color: #3CB371">恢复实验</button>
        <button class="layui-btn layui-input-inline" style="background-color: #9370D8">修改实验</button>
        <button class="layui-btn layui-input-inline" style="background-color: #FF4500">删除实验</button>
        <p class="layui-input-inline" style="margin-left: 47%; font-size: 16px" id="exp_status">实验状态</p>
    </div>
    <br>
    <p>实验信息</p>
    <br>
    <div class="layui-panel" style="padding: 2px">
        <div class="layui-input-inline" style="padding: 20px">
            <p id="exp_name">实验名称：</p><br>
            <p id="rat_name">小鼠名称：</p>
        </div>
        <div class="layui-input-inline" style="margin-left: 20%">
            <p id="owner_name">队长名称：</p><br>
            <p id="owner_tel">队长电话：</p>
        </div>
        <div class="layui-input-inline" style="margin-left: 20%">
            <p id="start_date">开始时间：</p><br>
            <p id="end_date">结束时间：</p>
        </div>


    </div>
    <br>
    <p>实验组</p>
    <br>
    <div class="layui-panel" style="padding: 12px" id="exp_group">
        <button class="layui-btn layui-btn-sm layui-input-inline" style="background-color: brown" id="groupAdd">添加新组</button>
    </div>
    <br>
    <p>团队信息</p>
    <br>
    <div class="layui-panel" style="padding: 7px">
        <table class="layui-table" id="team_mate"></table>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script th:inline="none">
    $(function (){

        let exId = window.location.search.slice(6);
        $.ajax({
            url:'http://localhost:8000/api/exp/' + exId,
            type:'GET',
            dataType:'json',
            timeout: 0,
            headers: {
                "Content-Type": "application/json",
                "Authorization": localStorage.getItem("Authorization")
            },
            success:function(response){
                if(response.code === 200){
                    // console.log(response.data);
                    let exp = response.data;
                    let p = $("#exp_status");
                    if(exp.status === 0){

                        p.text("实验创建中 ●");
                        p.css("color", "SkyBlue");
                    }
                    if(exp.status === 1){
                        p.text("实验进行中 ●");
                        p.css("color", "LimeGreen");
                    }
                    if(exp.status === 2){
                        p.text("实验已完成 ●");
                        p.css("color", "Orange");
                    }
                    if(exp.status === 3){
                        p.text("实验已删除 ●");
                        p.css("color", "red");
                    }
                    $('#exp_name').append(exp.name);
                    $('#rat_name').append(exp.ratName);
                    $('#owner_name').append(exp.ownerId);
                    $('#start_date').append(exp.startDate);
                    if(exp.endDate === null){
                        $('#end_date').append('-');
                    }else{
                        $('#end_date').append(exp.endDate);
                    }
                    $('#owner_tel').append(JSON.parse(localStorage.getItem('user')).tele);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                /*jqXHR对象的信息*/
                console.log('jqXHR.responseText &ndash;&gt; ',jqXHR.responseText);
                console.log('jqXHR.status &ndash;&gt; ',jqXHR.status);
                console.log('jqXHR.readyState &ndash;&gt; ',jqXHR.readyState);
                console.log('jqXHR.statusText &ndash;&gt; ',jqXHR.statusText);
                /*其他两个参数的信息*/
                console.log('textStatus &ndash;&gt; ',textStatus);
                console.log('errorThrown --> ',errorThrown);
            }
        })
        $.ajax({
            url:'http://localhost:8000/api/group/' + exId,
            type:'GET',
            dataType:'json',
            timeout: 0,
            headers: {
                "Content-Type": "application/json",
                "Authorization": localStorage.getItem("Authorization")
            },
            success:function(response){
                if(response.code === 200){
                    let group = response.data;
                    $.each(group, function (i, e){
                        $('#groupAdd').before('<button class="layui-btn layui-btn-sm layui-input-inline" id=' + e.gid +  ' onclick="toEdit(this.id)">' + e.name + '</button>');
                    })
                }
            }
        })

    })
    layui.use(['table'], function () {
        var $ = layui.jquery,
            table = layui.table,
            button = layui.button;
        table.render({
            elem: '#team_mate',
            url: 'http://localhost:8000/api/team/' + window.location.search.slice(6),
            headers: {"Authorization": localStorage.getItem('Authorization')},
            response: {
                statusCode: 200
            },
            cols: [[
                {field: 'uId', width: 200, title: '名字'},
                {field: 'id', width: 200, title: '负责'},
                {field: 'joinDate', title: '加入时间'}
            ]],
            done: function (res, urr, count){
                //
            },
            skin: 'line'
        });
    })
    // $('button').on('click', function (){
    //     window.location.href = './rat_info.html';
    // })
    function toEdit(id){
        // console.log(document.getElementById(id).innerHTML)
        window.location.href = './rat_info.html/?gid=' + id;
    }
</script>
</body>
</html>