<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/app.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="icon" th:href="@{/img/favicon.ico}">
    <title>本草之本</title>
    <style>
        iframe{
            width: 98%;
            height: 98%;
        }
        .layui-tab-item{
            height: 98%;
        }
    </style>
</head>

<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">
            <span style="font-size: 22px">本草之本</span>
        </div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" lay-unselect>
                <a href="main" layadmin-event="refresh" title="刷新">
                    <i class="layui-icon layui-icon-refresh-3"></i>
                </a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img th:src="@{/img/favicon.ico}" class="layui-nav-img">
                    [[${name}]]
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:showTab(404,'404','我的信息');">我的信息</a></dd>
                    <dd><a href="javascript:showTab(404,'404','修改密码');">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="javascript:;" onclick="logout()">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black ">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-shrink="all" id="lm">
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-flask" aria-hidden="true"></i>&nbsp;实验管理</a>
                    <dl class="layui-nav-child" id="menu"></dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="showTab(404,'404','部门管理')"><i class="fa fa-sitemap"></i>&nbsp;部门管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="showTab(404,'404','员工管理')"><i class="layui-icon layui-icon-user"></i>&nbsp;员工管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="showTab(404,'404','专业管理')"><i class="fa fa-graduation-cap"></i>&nbsp;专业管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;" onclick="showTab(404,'404','班级管理')"><i class="fa fa-cube"></i>&nbsp;班级管理</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="fa fa-user-secret"></i>&nbsp;学生管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" onclick="showTab(404,'404','学生列表')"> 学生列表</a></dd>
                        <dd><a href="javascript:;" onclick="showTab(404,'404','学生新增')"> 学生新增</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" id="container" >
        <!-- 内容主体区域 -->
        <div class="layui-tab" lay-filter="demo" style="width: 100%;height: 90%">
            <ul class="layui-tab-title"></ul>
            <div class="layui-tab-content" style="width: 99%;height: 98%"></div>
        </div>
    </div>

    <div class="layui-footer">
        <p>
         2021-2023 <a href="https://www.jxutcm.edu.cn/index.htm" rel="nofollow" target="_blank" title="#">江西中医大学</a>
        </p>
    </div>
</div>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script th:inline="none">
    //JavaScript代码区域
    var element;
    layui.config({
        base: '/static/layui/lay/modules/'
    }).use(['element'], function(){
        element = layui.element;
        showTab(2000,'exp_list','实验列表');
    });

    var tid=-1;
    function showTab(id,u,n) {
        if(tid>0){
            element.tabDelete('demo',tid);
        }
        element.tabAdd('demo', {
            title:n
            ,content: '<iframe data-frameid="'+id+'" scrolling="auto" frameborder="0" src="'+u+'"></iframe>'
            ,id:id
        });
        element.tabChange('demo', id);
        element.render();
        tid=id;
    }

    function logout(){
        window.localStorage.clear()
        $.ajax({
            url:'api/signin/exit',
            type:'POST',
            dataType:'json',
            timeout: 0,
            headers: {
                "Content-Type": "application/json"
            },
            success:function(response){
                if(response.code == 200) {
                    window.location.href = "index";
                }
            }
        })
    }
    $(function (){
        $.ajax({
            url:'http://localhost:8000/api/exp/',
            type:'GET',
            dataType:'json',
            timeout: 0,
            headers: {
                "Content-Type": "application/json",
                "Authorization": localStorage.getItem("Authorization")
            },
            success:function(response) {
                console.log(response);
                if (response.code === 200) {
                    let exps = response.data;
                    $(exps).each(function (i, exp){
                        $('#menu').append('<dd><a href="javascript:;"> ' + exp.name + '</a></dd>');
                    })
                }
            }
        })
    })
</script>
</body>
</html>